{% extends "layout.html" %}
{% set active_nav = 'dashboard' %}

{% block header %}{% endblock %}

{% block body %}
<section class="container">
  <div class="jumbotron">
    <h1>{{g.configure.meta.title|upper or 'Totoro System'|upper}}</h1>
    <hr>
    <p>Users: {{count.users}}</p>
    <p>Books: {{count.books}}</p>
  </div>
</section>
<section class="container">
  <h4>Overtime Volumes</h4>
  {% for vol in overtime_vols %}
  <div class="panel panel-danger">
    <div class="panel-body">
      <a href="{{url_for('book.detail', book_id=vol.book_id)}}">
        {{vol.meta.title}} - {{vol.renter}}
      </a>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
