{% extends "layout.html" %}
{% set active_nav = 'book' %}

{% block title %}Book Detail{% endblock %}

{% block body %}
<section class="container">
  <a class="btn btn-default"
     href="{{url_for('.index')}}">
    <span class="glyphicon glyphicon-menu-left"></span>
    Back
  </a>
  <hr>
  <div class="row">
    <!-- profile -->
    <div class="col-md-6">
      <form action="{{url_for('.update', book_id=book._id)}}"
            method="POST">
        <h3>Profile</h3>
        <br>

        <div class="form-group">
          <label>Name</label>
          <input class="form-control"
                 type="text"
                 name="title"
                 value="{{book.meta.title}}" />
        </div>

        <div class="form-group">
          <label>Cover</label>
          <input class="form-control"
                 type="text"
                 name="cover_src"
                 value="{{book.meta.cover_src}}" />
          <span class="help-block">A uploaded image url.</span>
          {% if book.meta.cover_src %}
          <img width="120" height="120" src="{{book.meta.cover_src}}" />
          {% endif %}
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control"
                    name="description">{{book.meta.description}}</textarea>
        </div>

        <div class="form-group">
          <label>Tags</label>
          <input class="form-control"
                 type="text"
                 name="tags"
                 value="{{book.tags|join('|')}}" />
          <span class="help-block">Split with '|'.</span>
        </div>

        <div class="form-group">
          <label>Category</label>
          <textarea class="form-control"
                    rows="4"
                    name="category">{{book.category|join('\n')}}</textarea>
          <span class="help-block">Type category slug one of line.</span>
        </div>

        <div class="form-group">
          <label>Previews</label>
          <textarea class="form-control"
                    rows="6"
                    name="previews">{{book.meta.previews|join('\n')}}</textarea>
          <span class="help-block">Type preview image src one of line.</span>
        </div>

        <div class="form-group">
          <h5>Status</h5>
          {% for st in allowed_status %}
          <div class="radio-inline">
            <label>
              <input type="radio"
                     name="status"
                     value="{{st.key}}"
                     {{'checked' if book.status == st.key}}> {{st.text}}
            </label>
          </div>
          {% endfor %}
        </div>

        <div>
          <h5>Created at:  {{book.creation|dateformat}}</h5>
          <h5>Last updated at:  {{book.updated|dateformat}}</h5>
        </div>

        <hr>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary">
              <span class="glyphicon glyphicon-disk"></span>
              Save
            </button>
          </div>
          <div class="col-md-6 text-right">
            <a class="btn btn-danger {{'disabled' if volumes}}"
               href="{{url_for('.remove', book_id=book._id)}}">
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            </a>
            <span class="help-block">you must remove all volumes before delelet the book.</span>
          </div>
        </div>
      </form>
    </div>

    <!-- record -->
    <div class="col-md-5 col-md-offset-1">
      <form action="{{url_for('.create_volume', book_id=book._id)}}"
            method="POST">
        <h4>Volumes</h4>
        <br>
        {% for vol in volumes %}
        <div class="panel panel-default">
          <div class="panel-body">
            {% if vol.status == 0 %}
            <div class="alert alert-info">in Stock</div>
            {% elif vol.status == 1 %}
            <div class="alert alert-success">{{borrower}}</div>
            {% endif %}
            <h5>Code: {{vol.code}}</h5>
            <p>Serial Number: {{vol.serial_number}}</p>
            <a href="{{url_for('.remove_volume', book_id=book._id, vol_id=vol._id)}}">Remove</a>
          </div>
        </div>
        {% endfor %}
        <div class="form-group">
          <label>New volume serial number</label>
          <input class="form-control"
                 type="text"
                 name="serial_number"/>
        </div>

        <button class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>
  <br><br>
  <hr>
  <div>
    <h3>Records ({{records|length}})</h3>
    <br>
    {% for record in records %}
    <div class="panel {{'panel-primary' if record.status}}">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{'Lend' if record.status == 1 else 'Stocked'}}
        </h3>
      </div>
      <div class="panel-body">
        <p>{{record.borrower or '-'}}</p>
        <p>{{record.volume or '-'}}</p>
        <p>{{record.date_borrowing}} - {{record.date_returning}}</p>
      </div>
    </div>
    {% endfor %}
  </div>


</section>

{% endblock %}
