{% extends "layout.html" %}
{% set active_nav = 'reception' %}

{% block title %}Reception{% endblock %}

{% block body %}
<section class="container">
  <div class="row">
    <!-- checkin -->
    <form class="col-md-6"
          action="{{url_for('.checkin')}}"
          method="POST">
      <h4>Check In</h4>
      <br>
      <div class="form-group">
        <label>User login</label>
        <input class="form-control"
               type="text"
               name="user_login"/>
      </div>

      <div class="form-group">
        <label>Book slug</label>
        <input class="form-control"
               type="text"
               name="book_slug"/>
      </div>

      <div class="form-group">
        <label>Book volume code</label>
        <input class="form-control"
               type="text"
               name="volume_code"/>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-success">
            <span class="glyphicon glyphicon-book"></span>
            Check in
          </button>
        </div>
      </div>
    </form>

    <!-- check out -->
    <form class="col-md-4 col-md-offset-2"
          action="{{url_for('.checkout')}}"
          method="POST">
      <h4>Check Out</h4>
      <br>
      <div class="form-group">
        <label>User login</label>
        <input class="form-control"
               type="text"
               name="user_login"/>
      </div>

      <div class="form-group">
        <label>Book slug</label>
        <input class="form-control"
               type="text"
               name="book_slug"/>
      </div>

      <div class="form-group">
        <label>Book volume code</label>
        <input class="form-control"
               type="text"
               name="volume_code"/>
      </div>

      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-book"></span>
            Check out
          </button>
        </div>
      </div>
    </form>
  </div>
  <br><br>

</section>

{% endblock %}
