{% extends "layout.html" %}
{% set page_title = 'Inactive Users' %}
{% set active_nav = 'user' %}

{% block body %}
{% set sub_active = 'inactive' %}
{% include '_user_nav_.html' with context %}

<section class="container">
  {% for inactive in inactives %}
  <div class="row">
    <div class="col-md-4">
      {{inactive.login}}
    </div>
    <div class="col-md-8">
      <textarea>{{inactive.captcha}}</textarea>
    </div>
  </div>
  {% endfor %}
  {% if not inactives %}
  <div>
    <p>No inactive users.</p>
  </div>
  {% endif %}
</section>
{% endblock %}
