{% extends "layout.html" %}
{% set page_title = 'User' %}
{% set active_nav = 'user' %}

{% block body %}
<section class="container">
  <a class="btn btn-default"
     href="{{url_for('.deleted') if user.deleted else url_for('.index')}}">
    <span class="glyphicon glyphicon-menu-left"></span>
    Back
  </a>
  <hr>
  <div class="row">
    <!-- profile -->
    <form class="col-md-6"
          action="{{url_for('.update', user_id=user._id)
                    if user._id else url_for('.create')}}"
          method="POST">
      <h3>Profile</h3>
      <br>
      <div>
        <h5>Login:</h5>
        <p>{{user.login}}</p>
      </div>
      <div>
        <h5>Gender:</h5>
        <p>{{user.meta.gender}}</p>
      </div>
      <div>
        <h5>Contact:</h5>
        <p>{{user.meta.contact}}</p>
      </div>

      <div class="form-group">
        <h5>Status</h5>
        {% for st in allowed_status %}
        <div class="radio-inline">
          <label>
            <input type="radio"
                   name="status"
                   value="{{st.key}}"
                   {{'checked' if user.status == st.key}}> {{st.text}}
          </label>
        </div>
        {% endfor %}
      </div>

      {% if user.creation %}
      <div>
        <h5>Registered at:</h5>
        <p>
         {{user.creation|dateformat}}
        </p>
      </div>
      {% endif %}

      <hr>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-disk"></span>
            Save
          </button>
        </div>
        {% if user._id %}
        <div class="col-md-6">
          <a class="btn btn-danger"
             href="{{url_for('.remove', user_id=user._id)}}">
            <span class="glyphicon glyphicon-trash"></span>
            Delete
          </a>
        </div>
        {% endif %}
      </div>

    </form>

    <!-- record -->
    <div class="col-md-5 col-md-offset-1">
      <h3>Records ({{records|length}})</h3>
      <br>
      {% for record in records %}
      <div class="panel {{'panel-primary' if record.status}}">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{'Checkout' if record.status == 1 else 'Checkin'}}
          </h3>
        </div>
        <div class="panel-body">
          <p>{{record.borrower or '-'}}</p>
          <p>{{record.volume or '-'}}</p>
          <p>{{record.updated|dateformat}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  <br><br>

</section>

{% endblock %}
